[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.nupkg
*.snupkg
packages/
publish/
*.publishsettings
PublishProfiles/
TestResults/
[Tt]est[Rr]esult*/
.idea/
*.sln.iml
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
releases/
*.vpk
*.zip
